
    <aside class="main-sidebar hidden-print">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image"><img class="img-circle"src=' <empty name="Think.session.user.avatar">/assets/images/avatar.jpg<else/>{$Think.session.user.avatar}</empty>' alt="用户头像"></div>
                <div class="pull-left info">
                    <p>{{Think.session.user.username}}</p>
                    <p class="designation">
                        <if condition='$Think.session.user.module == "admin"'>
                            平台管理员
                        </if>
                        <if condition='$Think.session.user.module == "organization"'>
                            机构用户
                        </if>
                    </p>
                </div>
            </div>
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
                <li class="active"><a href="__MODULE__/Index"><i class="fa fa-dashboard"></i><span>欢迎页</span></a></li>
                <li class="treeview"><a href="#"><i class="fa fa-laptop"></i><span>平台管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/UserGroup"><i class="fa fa-circle-o"></i>员工组</a></li>
                        <li><a href="__MODULE__/Users"><i class="fa fa-circle-o"></i>员工管理</a></li>
                    </ul>
                </li>
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>会员管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/Feedback"><i class="fa fa-circle-o"></i>问题反馈</a></li>
                        <li><a href="__MODULE__/Customer"><i class="fa fa-circle-o"></i>会员用户</a></li>
                    </ul>
                </li>
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>VIP管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/VipUser"><i class="fa fa-circle-o"></i>VIP用户</a></li>
                    </ul>
                </li>
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>代理管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/AgentType"><i class="fa fa-circle-o"></i>代理等级</a></li>
                        <li><a href="__MODULE__/Agent"><i class="fa fa-circle-o"></i>代理用户</a></li>
                    </ul>
                </li>
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>教学管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/Org"><i class="fa fa-circle-o"></i>机构用户</a></li>
                        <li><a href="__MODULE__/CourseCategory"><i class="fa fa-circle-o"></i>课程分类</a></li>
                        <li><a href="__MODULE__/CourseComment"><i class="fa fa-circle-o"></i>课程评论</a></li>
                    </ul>
                </li>
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>视频管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/SelfOrg"><i class="fa fa-circle-o"></i>自营机构</a></li>
                        <li><a href="__MODULE__/Video"><i class="fa fa-circle-o"></i>视频管理</a></li>
                        <li><a href="__MODULE__/VideoCategory"><i class="fa fa-circle-o"></i>视频分类</a></li>
                    </ul>
                </li>
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>咨文管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/Banner"><i class="fa fa-circle-o"></i>广告管理</a></li>
                        <li><a href="__MODULE__/Active"><i class="fa fa-circle-o"></i>活动管理</a></li>
                        <li><a href="__MODULE__/Agreement"><i class="fa fa-circle-o"></i>协议管理</a></li>
                        <li><a href="__MODULE__/Qa"><i class="fa fa-circle-o"></i>常见问题</a></li>
                        <li><a href="__MODULE__/Message"><i class="fa fa-circle-o"></i>消息管理</a></li>
                    </ul>
                </li>

                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>记录管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/RecommendRecord"><i class="fa fa-circle-o"></i>推荐记录</a></li>
                        <li><a href="__MODULE__/JoinRecord"><i class="fa fa-circle-o"></i>加盟记录</a></li>
                    </ul>
                </li>
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>订单管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/UserRecord"><i class="fa fa-circle-o"></i>结算记录</a></li>
                        <li><a href="__MODULE__/Order"><i class="fa fa-circle-o"></i>课程订单</a></li>
                        <li><a href="__MODULE__/VipOrder"><i class="fa fa-circle-o"></i>VIP订单</a></li>
                    </ul>
                </li>
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>打印管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/Print"><i class="fa fa-circle-o"></i>365打印</a></li>

                    </ul>
                </li>
                <!--<li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>统计管理</span><i class="fa fa-angle-right"></i></a>-->
                <!--<ul class="treeview-menu">-->
                <!--<li><a href="form-components.html"><i class="fa fa-circle-o"></i>统计管理</a></li>-->
                <!--<li><a href="form-custom.html"><i class="fa fa-circle-o"></i>统计管理</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>审核管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/Check/organizations"><i class="fa fa-circle-o"></i>机构审核</a></li>
                        <li><a href="__MODULE__/Check/courses"><i class="fa fa-circle-o"></i>课程审核</a></li>
                        <li><a href="__MODULE__/Check/agents"><i class="fa fa-circle-o"></i>代理审核</a></li>
                    </ul>
                </li>
                <!--<li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>微信管理</span><i class="fa fa-angle-right"></i></a>-->
                <!--<ul class="treeview-menu">-->
                <!--<li><a href="__MODULE__/Weixin/index"><i class="fa fa-circle-o"></i>菜单管理</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <li class="treeview"><a href="#"><i class="fa fa-edit"></i><span>设置管理</span><i class="fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="__MODULE__/Setting/system"><i class="fa fa-circle-o"></i>平台设置</a></li>
                        <li><a href="__MODULE__/Setting/other"><i class="fa fa-circle-o"></i>其他设置</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
