{% include 'admin/common/meta.twig' %}

{% block message %}

{% endblock %}
</head>
<body class="sidebar-mini fixed">
{% include 'admin/common/header.twig' %}
{% include 'admin/common/aside.twig' %}
{% block content %}

{% endblock %}

{% include 'admin/common/footer.twig' %}

{% block js %}

{% endblock %}
</body>
</html>

         {#{% block content %}{% endblock %}#}
     {#</div>#}
{#</div>#}
{#<div class="content-wrapper">#}
    {#</html>#}

    {#<body >#}
    {#<div class="wrapper">#}
